# Server
PORT=9000
BACKEND_URL=http://localhost:9000
FRONTEND_URL=http://localhost:5173

# Database (Postgres via Prisma)
DATABASE_URL=postgresql://postgres:root@localhost:5432/pulse_db

# Redis
REDIS_URL=redis://localhost:6379

# Auth
JWT_SECRET=your_jwt_secret

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
